@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


html {
  font-family: var(--font-bebas-neue);
}

body {
  --glow-green: #00ff75;
}

.light {
  --text-bg-color: white;
  --text-color: black;
}

.dark {
  --text-bg-color: black;
  --text-color: white;
}

p{
  font-family: var(--font-public-sans);
}



@layer utilities {
    .neubrutal-text {
      text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
        -1px 1px 0 #000, 1px 1px 0 #000;
      -webkit-text-stroke: 1px var(--text-color);
    }

    .neubrutalItem {
        border: 2px solid var(--text-color);
        border-radius: 4px;
        box-shadow: 2px 2px 0px var(--text-color)
    }

    .neubrutalBtn {
      width: 100px;
      height: 100px;
      font-size: 45px;
      transition: 0.5s;
      border: 2px solid var(--text-color);
      border-radius: 4px;
      box-shadow: 2px 2px 0px var(--text-color);
    }

    .neubrutalBtn:hover {
      filter: brightness(90%);
      box-shadow: none;
      transform: translate(2px, 2px);
    }
  }

